{% extends 'base.html' %}

{% load staticfiles %}
{% block title %}
  Brahmaputra Map
{% endblock %}

{% block body %}
  <!-- <img src="https://image.shutterstock.com/image-vector/no-image-available-icon-vector-260nw-1323742826.jpg" alt=""> -->
  <h2>Hostel: {{hostel}}</h2>
  <h2>Company: {{company}}</h2>
  <table>
    <tr>
      <td class="m"><button type="submit" name="button"><a href="{% url 'room:room_' pk=primary %}">S-1</a></button></td>
      <td class="m"><button type="submit" name="button"><a href="#">S-2</a></button></td>
      <td class="m"><button type="submit" name="button"><a href="#">S-3</a></button></td>
    </tr>
    <tr>
      <td class="m"><button type="submit" name="button"><a href="#">S-4</a></button></td>
      <td class="m"><button type="submit" name="button"><a href="#">S-5</a></button></td>
      <td class="m"><button type="submit" name="button"><a href="#">S-6</a></button></td>
    </tr>
  </table>
{% endblock %}
