{% extends 'base.html' %}
{% block title %}
  Add Room
{% endblock %}

{% load static %}

{% block body %}
<div id = "load"><span class="loader"><span class="loader-inner"></span></span></div>
<br><br>
<h1 id = "mm" style ="text-align:center;">Umiam Hostel Map</h1>
    <br>
    <div class = "conatainer-fluid">
    <div id = "panell">
      <h1 style="text-align:center"><strong>INSTRUCTIONS</strong></h1>
          <br>
          <div class = "lol">Example</div>

          <div id = "fff">Unoccupied</div>
          <br>
          <div class = "occupied">Example</div>

          <div id = "fff">Occupied</div>
          <br>
          <!-- <div class = "waste">Example</div>
          <div id = "fff">Bathroom</div>
          <br> -->
          <div class = "active">Example</div>

          <div id = "fff">Selected Through Drag</div>
          <br>
          <h4>
            "Save Changes" currently saves the selected rooms
            <br><br>
            You can drag over the selected rooms to deselect them
            <br><br>
            Upon sumitting("Submit Button"), all selected rooms will be added
          </h4>

    </div>
    </div>

    <div class="container" id="man">
    <div class="container" id = "manman">
      <h1 style ="margin-left:0px;">BLOCK-A</h1>
      <div class = "lol">A-049</div>
      <div class = "lol">A-050</div>
      <div class = "lol">A-051</div>
      <div class = "lol">A-052</div>
      <div class = "lol">A-053</div>
      <div class = "lol">A-054</div>
      <div class= "waste">BT</div>
      <div class = "lol">A-055</div>
      <div class = "lol">A-056</div>
      <div class = "lol">A-057</div>
      <div class = "lol">A-058</div>
      <div class = "lol">A-059</div>
      <div class = "lol">A-060</div>
      <div class = "vc">
        <div class = "lol">A-043</div>
        <div class = "lol">A-044</div>
        <div class = "lol">A-045</div>
        <div class = "lol">A-046</div>
        <div class = "lol">A-047</div>
        <div class = "lol">A-048</div>
      </div>
      <div class = "hcont">
      <div class = "lol">A-031</div>
      <div class = "lol">A-032</div>
      <div class = "lol">A-033</div>
      <div class = "lol">A-034</div>
      <div class = "lol">A-035</div>
      <div class = "lol">A-036</div>
      <div class= "waste">BT</div>
      <div class = "lol">A-037</div>
      <div class = "lol">A-038</div>
      <div class = "lol">A-039</div>
      <div class = "lol">A-040</div>
      <div class = "lol">A-041</div>
      <div class = "lol">A-042</div>
      </div>
    </div>
    <div class="container" id = "manman">
<h1 style ="margin-left:0px;">BLOCK-A</h1>
      <div class = "lol">A-019</div>
      <div class = "lol">A-020</div>
      <div class = "lol">A-021</div>
      <div class = "lol">A-022</div>
      <div class = "lol">A-023</div>
      <div class = "lol">A-024</div>
      <div class= "waste">BT</div>
      <div class = "lol">A-025</div>
      <div class = "lol">A-026</div>
      <div class = "lol">A-027</div>
      <div class = "lol">A-028</div>
      <div class = "lol">A-029</div>
      <div class = "lol">A-030</div>
      <div class = "vc">
        <div class = "lol">A-013</div>
        <div class = "lol">A-014</div>
        <div class = "lol">A-015</div>
        <div class = "lol">A-016</div>
        <div class = "lol">A-017</div>
        <div class = "lol">A-018</div>
      </div>
      <div class = "hcont">
      <div class = "lol">A-001</div>
      <div class = "lol">A-002</div>
      <div class = "lol">A-003</div>
      <div class = "lol">A-004</div>
      <div class = "lol">A-005</div>
      <div class = "lol">A-006</div>
      <div class= "waste">BT</div>
      <div class = "lol">A-007</div>
      <div class = "lol">A-008</div>
      <div class = "lol">A-009</div>
      <div class = "lol">A-010</div>
      <div class = "lol">A-011</div>
      <div class = "lol">A-012</div>
      </div>
    </div>
    <div class="container" id = "manman">
      <h1 style ="margin-left:0px;">BLOCK-B</h1>
      <div class = "lol">B-049</div>
      <div class = "lol">B-050</div>
      <div class = "lol">B-051</div>
      <div class = "lol">B-052</div>
      <div class = "lol">B-053</div>
      <div class = "lol">B-054</div>
      <div class= "waste">BT</div>
      <div class = "lol">B-055</div>
      <div class = "lol">B-056</div>
      <div class = "lol">B-057</div>
      <div class = "lol">B-058</div>
      <div class = "lol">B-059</div>
      <div class = "lol">B-060</div>
      <div class = "vc">
        <div class = "lol">B-043</div>
        <div class = "lol">B-044</div>
        <div class = "lol">B-045</div>
        <div class = "lol">B-046</div>
        <div class = "lol">B-047</div>
        <div class = "lol">B-048</div>
      </div>
      <div class = "hcont">
      <div class = "lol">B-031</div>
      <div class = "lol">B-032</div>
      <div class = "lol">B-033</div>
      <div class = "lol">B-034</div>
      <div class = "lol">B-035</div>
      <div class = "lol">B-036</div>
      <div class= "waste">BT</div>
      <div class = "lol">B-037</div>
      <div class = "lol">B-038</div>
      <div class = "lol">B-039</div>
      <div class = "lol">B-040</div>
      <div class = "lol">B-041</div>
      <div class = "lol">B-042</div>
      </div>
    </div>
    <div class="container" id = "manman">
<h1 style ="margin-left:0px;">BLOCK-B</h1>
      <div class = "lol">B-019</div>
      <div class = "lol">B-020</div>
      <div class = "lol">B-021</div>
      <div class = "lol">B-022</div>
      <div class = "lol">B-023</div>
      <div class = "lol">B-024</div>
      <div class= "waste">BT</div>
      <div class = "lol">B-025</div>
      <div class = "lol">B-026</div>
      <div class = "lol">B-027</div>
      <div class = "lol">B-028</div>
      <div class = "lol">B-029</div>
      <div class = "lol">B-030</div>
      <div class = "vc">
        <div class = "lol">B-013</div>
        <div class = "lol">B-014</div>
        <div class = "lol">B-015</div>
        <div class = "lol">B-016</div>
        <div class = "lol">B-017</div>
        <div class = "lol">B-018</div>
      </div>
      <div class = "hcont">
      <div class = "lol">B-001</div>
      <div class = "lol">B-002</div>
      <div class = "lol">B-003</div>
      <div class = "lol">B-004</div>
      <div class = "lol">B-005</div>
      <div class = "lol">B-006</div>
      <div class= "waste">BT</div>
      <div class = "lol">B-007</div>
      <div class = "lol">B-008</div>
      <div class = "lol">B-009</div>
      <div class = "lol">B-010</div>
      <div class = "lol">B-011</div>
      <div class = "lol">B-012</div>
      </div>
    </div>
    <div id="div" hidden></div>
    <br>
    <form id="newuserform">
      {% csrf_token %}
    {% if user.is_authenticated %}
    <input id = "sd" type="submit" class="btn btn-success" value="Submit">
    {% endif %}
  </form>

  <style>
    h1
    {
      font-family:"Georgia";
    }
    h4
    {
      font-size:24px;
      font-weight:600;
      font-family:"Georgia";
      background-color:rgba(0,0,0,0.2);
      border-radius:10px;
      padding:10px;
      /* text-align:center; */
      padding-left:14px;
      border:1px solid purple;
    }
    #mm
    {
      font-size:55px;
      font-weight:bold;
      padding-bottom:20px;
      border-bottom:1.5px solid rgba(255,0,0,0.7);
      width:100%;
    }
    #fff
    {
      font-size:30px;
      margin-left:160px;
    }
    #panell
    {
      width:900px;
      background-color:rgba(0,0,225,0.2);
      border-radius:20px;
      border :3px solid rgba(0,0,225,0.4);
      height:480px;
      margin :0 auto;
      font-family: Goudy Bookletter 1911, sans-serif;
      padding :15px;
      margin-bottom:20px;
      text-align:left;
      border-radius:10px;
    }
    #hi
    {
      position:absolute;
      top:2700px;
      left:65%;
      width:200px;
      height:60px;
      font-size:27px;
      font-weight:bold;
      border-radius:10px;
      border: 2px solid black;
      transition : all 0.3s;
      background-color:rgba(0,150,255,0.5);
    }
    #hi:hover
    {
      transition : all 0.3s;
      background-color:rgba(0,0,255,0.7);
      color:white;
    }
    #sd
    {
      margin-left:100x;
      margin-right:10px;
      margin-bottom:40px;
      margin-top:35px;
      width:200px;
      height:60px;
      font-size:30px;
      font-weight:bold;
      border-radius:10px;
      border: 2px solid black;
      position: absolute;
      left: 20%;
      top: 2664px;
      transition : all 0.3s;
    }
    #sd:hover
    {
      background-color:rgba(0,255,0,0.7);
      color:black;
    }
    body
    {
      background-color: rgba(120,0,120,0.2);
      -webkit-user-select:none;
      -webkit-touch-callout:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
      font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
      font-weight:bold;
    }
    div
    {
      border-radius:5px;
    }
    #man
    {
      margin-left:10px;
      padding:0;
      margin-right:0px;
    }

    .waste
    {
      width: 100px;
      border: 2px solid grey;
      padding: 10px 10px 10px 10px;
      /*margin: 10px 10px 10px 10px;*/
      float : left;
      background-color : yellow;
      text-align : center;
    }
    .hcont
    {
      margin-top:318px;
      widht:1320x;
    }
    .lol
    {
        width: 100px;
        border: 2px solid grey;
        padding: 10px 10px 10px 10px;
        /*margin: 10px 10px 10px 10px;*/
        float : left;
        background-color : white;
        text-align : center;
    }
    h1
    {
      color: maroon;
      margin-left: 40px;
    }
    .active
    {
      width: 100px;
      border: 2px solid green;
      padding: 10px 10px 10px 10px;
      /*: 10px 10px 10px 10px;*/
      float :left;
      background-color : pink;
      text-align:center;
    }
    #div
    {
      border: 1px dotted #000;
      position: absolute;
    }
    #manman
    {
      padding:60px;
      padding-top:0px;
      border:1px dotted red;
      text-align:center;
      margin-left:20px;
      margin-right:20px;
      width:1455px;
    }
    .occupied {
      width: 100px;
      border: 2px solid green;
      padding: 10px 10px 10px 10px;
      /*margin: 10px 10px 10px 10px;*/
      float :left;
      background-color : lightblue;
      text-align:center;
    }
    #hi {
      float: right;
    }
    .vc
    {
      width:102px;
      margin-left:600px;
    }
    #load
    {
      opacity:1;
      background-color:orange;
      position:fixed;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
      z-index:1000;
      visibility:hidden;
    }

  .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
  }
  body, html {
  height: 100%;
  text-align: center;
}

  .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
  }

  @keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
  }

  @keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
  }

  </style>
  {% if user.is_authenticated %}
     <input id = "hi" type="submit" class="btn btn-default" value="Save Changes">
  {% endif %}

  <script type="text/javascript">
    var r = document.getElementById("room-numbers").innerHTML;
document.getElementById("room-numbers").style.display = "none";
var lr = r.split(" ");
var z = document.querySelectorAll(".lol");
for(var j=0;j<lr.length;j++){
  var p = lr[j];
  for(var i=0;i<z.length;i++){
       if(z[i].innerHTML == p)
         z[i].classList.toggle("occupied");
  }
}
var sub = [];
var mx = 0;
var ff = document.getElementById("man");
var a5;
var div = document.getElementById('div'), x1 = 0, y1 = 0, x2 = 0, y2 = 0;
function reCalc(){
    var x3 = Math.min(x1,x2);
    var x4 = Math.max(x1,x2);
    var y3 = Math.min(y1,y2);
    var y4 = Math.max(y1,y2);
    var top  = window.pageYOffset;
    var left = window.pageXOffset;
    div.style.left = x3 + 'px';
    div.style.top = y3 + 'px';
    div.style.width = x4 - x3 + 'px';
    div.style.height = y4 - y3 + 'px';
}
var aa = 0;
ff.onmousedown = function(e){
    a5 = 1;
    div.hidden = 0;
    var top  = window.pageYOffset;
    var left = window.pageXOffset;
    console.log(top);
    console.log(left);
    x1 = e.clientX + left;
    y1 = e.clientY + top;
    reCalc();
    aa = 1;
};
var a1;
ff.onmousemove = function(e){
    if(aa != 1) return;
    div.style.borderWidth = "1px";
    var top  = window.pageYOffset;
    var left = window.pageXOffset;
    x2 = e.clientX + left;
    y2 = e.clientY + top;
    reCalc();
    var rect1 = div.getBoundingClientRect();
    for(var i=0;i<x.length;i++)
    {
      if(a5 == 1){
            var rect2 = x[i].getBoundingClientRect();
            var overlap = !(rect1.right < rect2.left || rect1.left > rect2.right || rect1.bottom < rect2.top || rect1.top > rect2.bottom)

            if(overlap == 1){
                if(!sub.includes(x[i].innerHTML)){
                  x[i].classList.add('active');
                  x[i].classList.remove('lol');
                }
                else {
                  x[i].classList.add('lol');
                  x[i].classList.remove('active');
                }
            }
            if(overlap == 0){
              if(!sub.includes(x[i].innerHTML)){
                x[i].classList.add('lol');
                x[i].classList.remove('active');
              }
              else {
                x[i].classList.add('active');
                x[i].classList.remove('lol');
              }
            }
      }
    }
};
onmouseup = function(e){
  aa=0;
  div.style.borderWidth = "0px";
  a5 = 0;
};

  var x = document.querySelectorAll(".lol");
  var rooms = [];
  var y = document.getElementById("hi");
  console.log(y);
  var lop = "";
  y.onclick = function(){
     rooms = [];
     for(var i=0;i<x.length;i++)
     {
        if(x[i].className == 'active'){
            rooms.push(x[i].innerHTML);
            sub.push(x[i].innerHTML);
        }
        else{
          if(sub.includes(x[i].innerHTML))
          {
            for(var j = sub.length - 1; j >= 0; j--) {
              if(sub[j] == x[i].innerHTML) {
                sub.splice(j, 1);
              }
            }
          }
        }
     }
    console.log(rooms);
    console.log(sub);
  }

  </script>

  <div id = 'room-numbers'>{% for room in rooms %}{{room.room_no}} {% endfor %}</div>
  <script type="text/javascript" src="{% static 'add_room.js' %}"></script>

  <script type="text/javascript">

    document.getElementById("sd").onclick = function(e){
      $('#load').css("visibility","visible");
              for(var i=0;i<rooms.length;i++){
                  lop = lop+rooms[i]+" ";
              }
              e.preventDefault();
              $.ajax({
                type:'POST',
                url:"{% url 'room:roomadd1' pk=primary %}",
                data:{
                  hostel:"Umiam",
                  roo:lop,
                  csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(){
                     // alert("You will now be redirected");
                     window.location = "{% url 'room:detail' pk=primary %}";
                }
              })
           };
  </script>
{% endblock %}
