{% extends 'base.html' %}
{% block title %}
  Add Room
{% endblock %}

{% load static %}

{% block body %}
  <form id="newuserform">
    {% csrf_token %}
    <br> <br> <br><br>
    <div class="container" id = "man">
      <div class = "lol">A-001</div>
      <div class = "lol">A-002</div>
      <div class = "lol">A-003</div>
      <div class = "lol">A-004</div>
      <div class = "lol">A-005</div>
      <div class = "lol">A-006</div>
      <div class = "lol">A-010</div>
      <div class = "lol">A-011</div>
      <div class = "lol">A-008</div>
      <div class = "lol">A-009</div>
      <div class = "lol">A-012</div>
      <div class = "lol">B-002</div>
      <div class = "lol">B-003</div>
      <div class = "lol">B-004</div>
      <div class = "lol">B-001</div>
      <div class = "lol">B-005</div>
      <div class = "lol">A-007</div>
      <div class = "lol">B-006</div>
      <div class = "lol">B-007</div>
      <div class = "lol">B-008</div>
      <div class = "lol">B-009</div>
      <div class = "lol">B-010</div>
      <div class = "lol">B-011</div>
      <div class = "lol">B-012</div>
      <div class = "lol">C-001</div>
      <div class = "lol">C-002</div>
      <div class = "lol">C-003</div>
      <div class = "lol">C-004</div>
      <div class = "lol">C-005</div>
      <div class = "lol">C-006</div>
      <div class = "lol">C-007</div>
      <div class = "lol">C-008</div>
      <div class = "lol">C-009</div>
      <div class = "lol">C-010</div>
      <div class = "lol">C-011</div>
      <div class = "lol">C-012</div>
    </div>
    <div id="div" hidden></div>
    <br>
    <br>
    <br>
    {% if user.is_authenticated %}
    <input id = "sd" type="submit" class="btn btn-success" value="Submit">
    {% endif %}
  </form>
  <style>
    body
    {
      background-color: linen;
      -webkit-user-select:none;
      -webkit-touch-callout:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
    }
    .lol
    {
        width: 100px;
        border: 2px solid grey;
        padding: 10px 10px 10px 10px;
        margin: 10px 10px 10px 10px;
        float : left;
        background-color : white;
        text-align : center;
    }
    h1
    {
      color: maroon;
      margin-left: 40px;
    }
    .active
    {
      width: 100px;
      border: 2px solid green;
      padding: 10px 10px 10px 10px;
      margin: 10px 10px 10px 10px;
      float :left;
      background-color : pink;
      text-align:center;
    }
    #div
    {
      border: 1px dotted #000;
      position: absolute;
    }
    #man
    {
      border:1px dotted red;
    }
    .occupied {
      width: 100px;
      border: 2px solid green;
      padding: 10px 10px 10px 10px;
      margin: 10px 10px 10px 10px;
      float :left;
      background-color : lightblue;
      text-align:center;
    }
    #hi {
      float: right;
    }
  </style>
  {% if user.is_authenticated %}
     <input id = "hi" type="submit" class="btn btn-default" value="Save Changes">
  {% endif %}

  <script type="text/javascript">
    var r = document.getElementById("room-numbers").innerHTML;
    document.getElementById("room-numbers").style.display = "none";
    var lr = r.split(" ");
    var z = document.querySelectorAll(".lol");
    for(var j=0;j<lr.length;j++){
      var p = lr[j];
      for(var i=0;i<z.length;i++){
           if(z[i].innerHTML == p)
             z[i].classList.toggle("occupied");
      }
    }
    var sub = [];
    var mx = 0;
    var ff = document.getElementById("man");
    var a5;
    var div = document.getElementById('div'), x1 = 0, y1 = 0, x2 = 0, y2 = 0;
    function reCalc(){
        var x3 = Math.min(x1,x2);
        var x4 = Math.max(x1,x2);
        var y3 = Math.min(y1,y2);
        var y4 = Math.max(y1,y2);
        div.style.left = x3 + 'px';
        div.style.top = y3 + 'px';
        div.style.width = x4 - x3 + 'px';
        div.style.height = y4 - y3 + 'px';
    }
    var aa = 0;
    ff.onmousedown = function(e){
        a5 = 1;
        div.hidden = 0;
        x1 = e.clientX;
        y1 = e.clientY;
        reCalc();
        aa = 1;
    };
    var a1;
    ff.onmousemove = function(e){
        if(aa != 1) return;
        div.style.borderWidth = "1px";
        x2 = e.clientX;
        y2 = e.clientY;
        reCalc();
        var rect1 = div.getBoundingClientRect();
        for(var i=0;i<x.length;i++)
        {
          if(a5 == 1){
                var rect2 = x[i].getBoundingClientRect();
                var overlap = !(rect1.right < rect2.left || rect1.left > rect2.right || rect1.bottom < rect2.top || rect1.top > rect2.bottom)

                if(overlap == 1){
                    if(!sub.includes(x[i].innerHTML)){
                      x[i].classList.add('active');
                      x[i].classList.remove('lol');
                    }
                    else {
                      x[i].classList.add('lol');
                      x[i].classList.remove('active');
                    }
                }
                if(overlap == 0){
                  if(!sub.includes(x[i].innerHTML)){
                    x[i].classList.add('lol');
                    x[i].classList.remove('active');
                  }
                  else {
                    x[i].classList.add('active');
                    x[i].classList.remove('lol');
                  }
                }
          }
        }
    };
    onmouseup = function(e){
      aa=0;
      div.style.borderWidth = "0px";
      a5 = 0;
    };

      var x = document.querySelectorAll(".lol");
      var rooms = [];
      var y = document.getElementById("hi");
      console.log(y);
      var lop = "";
      y.onclick = function(){
         rooms = [];
         for(var i=0;i<x.length;i++)
         {
            if(x[i].className == 'active'){
                rooms.push(x[i].innerHTML);
                sub.push(x[i].innerHTML);
            }
            else{
              if(sub.includes(x[i].innerHTML))
              {
                for(var j = sub.length - 1; j >= 0; j--) {
                  if(sub[j] == x[i].innerHTML) {
                    sub.splice(j, 1);
                  }
                }
              }
            }
         }
        console.log(rooms);
        console.log(sub);
      }
  </script>

  <div id = 'room-numbers'>{% for room in rooms %}{{room.room_no}} {% endfor %}</div>
  <script type="text/javascript" src="{% static 'add_room.js' %}"></script>
  <script type="text/javascript">
    $(document).on('submit','#newuserform',function(e){
       for(var i=0;i<rooms.length;i++){
           lop = lop+rooms[i]+" ";
       }
       e.preventDefault();
       $.ajax({
         type:'POST',
         url:"{% url 'room:roomadd' pk=primary %}",
         data:{
           hostel:"Brahmaputra",
           roo:lop,
           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
         },
         success:function(){
              alert("You will now be redirected");
              window.location = "{% url 'room:detail' pk=primary %}";
         }
       })
    });
  </script>
{% endblock %}
