{% extends 'base.html' %}
{% block title %}
  Add Room
{% endblock %}

{% load static %}

{% block body %}
  <form id="newuserform">
    {% csrf_token %}
    <div class="container" id = "man">
      <div class = "lol">A-001</div>
      <div class = "lol">A-002</div>
      <div class = "lol">A-003</div>
      <div class = "lol">A-004</div>
      <div class = "lol">A-005</div>
      <div class = "lol">A-006</div>
      <div class = "lol">A-010</div>
      <div class = "lol">A-011</div>
      <div class = "lol">A-008</div>
      <div class = "lol">A-009</div>
      <div class = "lol">A-012</div>
      <div class = "lol">B-002</div>
      <div class = "lol">B-003</div>
      <div class = "lol">B-004</div>
      <div class = "lol">B-001</div>
      <div class = "lol">B-005</div>
      <div class = "lol">A-007</div>
      <div class = "lol">B-006</div>
      <div class = "lol">B-007</div>
      <div class = "lol">B-008</div>
      <div class = "lol">B-009</div>
      <div class = "lol">B-010</div>
      <div class = "lol">B-011</div>
      <div class = "lol">B-012</div>
      <div class = "lol">C-001</div>
      <div class = "lol">C-002</div>
      <div class = "lol">C-003</div>
      <div class = "lol">C-004</div>
      <div class = "lol">C-005</div>
      <div class = "lol">C-006</div>
      <div class = "lol">C-007</div>
      <div class = "lol">C-008</div>
      <div class = "lol">C-009</div>
      <div class = "lol">C-010</div>
      <div class = "lol">C-011</div>
      <div class = "lol">C-012</div>
    </div>
    <div id="div" hidden></div>
    <br>
    <br>
    <br>
    {% if user.is_authenticated %}
    <input id = "sd" type="submit" class="btn btn-success" value="Submit">
    {% endif %}
  </form>
  <style>
           
  </style>
  {% if user.is_authenticated %}
     <input id = "hi" type="submit" class="btn btn-default" value="Save Changes">
  {% endif %}

  <div id = 'room-numbers'>{% for room in rooms %}{{room.room_no}} {% endfor %}</div>
  <script type="text/javascript" src="{% static 'add_room.js' %}"></script>
  <script type="text/javascript">
    $(document).on('submit','#newuserform',function(e){
       for(var i=0;i<rooms.length;i++){
           lop = lop+rooms[i]+" ";
       }
       e.preventDefault();
       $.ajax({
         type:'POST',
         url:"{% url 'room:roomadd' pk=primary %}",
         data:{
           hostel:"Brahmaputra",
           roo:lop,
           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
         },
         success:function(){
              alert("You will now be redirected");
              window.location = "{% url 'room:detail' pk=primary %}";
         }
       })
    });
  </script>
{% endblock %}
