{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} CCD Room Allotment {% endblock %}

{% block navigation %}




{% endblock %}

{% block body %}
<style>

.container
{
  text-align:center;
}
*
{
    outline: none;
}

html, body
{
    height: 100%;
    min-height: 100%;
}

body
{
    margin: 0;
}
body {
  background: linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.25)),url("https://upload.wikimedia.org/wikipedia/commons/2/27/IIT_Guwahati.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    top:0;
    width: 40%;
    padding: 0px;
    margin-top: 410px;
    margin-left: 42%;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 5px 50px lightblue, 0 0 0 10px white;
    transform: scale(0.6);
}

form
{
    height: 120px;
}

input[type="text"]
{
   padding-left:15px;
    width: 100%;
    height: 95px;
    font-size: 85px;
    line-height: 1.5;
}

input[type="text"]::placeholder
{
    color: grey;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

button
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 65px;
    height: 65px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}
list
{
  text-align:center;
}
button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em;
  font-weight: 300;
  font-size:52px;
  line-height:1em;
  text-align: center;
  color: black;
  font-family:'candara';
}

h2 {
  font-size:1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
 font-weight: bold;
 font-size: 1em;
  text-align: left;
  color: linen;
}

.container td {
 font-weight: normal;
 font-size: 1em;
  webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
       box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
 text-align: left;
 overflow: hidden;
 width: 50%;
 margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
 padding-bottom: 2%;
 padding-top: 2%;
  padding-left:2%;
}

/* Background-color of the odd rows */
.container tr{
    background-color: rgba(0,0,0,0.75);
}


.container th {
    background-color: rgba(0,0,0,0.10);
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
       box-shadow: 0 2px 2px -2px #0E1119;
}

.container td:hover {
  background-color: rgba(255,165,0,0.85);
  color: black;


  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px;
  transform: translate3d(2px, -2px, 0);

  transition-delay: 0s;
transition-duration: 0.2s;
transition-property: all;
  transition-timing-function: line;
}

body
{
  font-family: 'Lucida Sans Unicode';font-size: 25px;
}
#list
{
  text-align:center;
}
#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}
#cover{
    zoom: 0.5;
    -moz-transform: scale(0.65);
}
#del
{

  text-align :center;

  background-color: transparent;
}
#cont
{
  margin :0 auto;
  width:50%;

  text-align :center;

  background-color: transparent;
}
.pad
{
  margin : 0px auto ;
}
</style>
<div id="cover">
  <form method="GET" action="." role = "search">
    <div class="tb">
      <div class="td"><input type="text" name="q" placeholder="Search" required></div>
      <div class="td" id="s-cover">
        <button type="submit" value = "{{query|escape}}">
          <div id="s-circle"></div>
          <span></span>
        </button>
      </div>
    </div>
  </form>
</div>

  <script>
    $(document).ready(function(){
      $('#country').keyup(function(){
        var query = $(this).val();
        if(query!=''){
          $.ajax({
            type:'POST',
            url:"{% url 'room:index' %}",
            data:{
              query:query
            },
            success:function(data){
                 $('#country-list').fadeIn();
                 $('#country-list').html(data);
            }
          })
        }
      });
    });

    var searchRequest = null;

  </script>
  <br>
  <div class = container>
  <h1 class="list"><strong>Company List</strong></h1>
  <div id ="poi">
    <br>
  </div>
  <table  class="table table-hover" border = "3">
    <thead>
        <tr>
        <th>Company Name</th>
        {% if user.is_authenticated %}
        <th style="text-align: center;">Delete</th>
        {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for company in data %}
      <tr>
        <td><div id = "cont"><a href="{% url 'room:detail' company.id %}">{{ company.name }}</a></div></td>
        {% if user.is_authenticated %}
        <td>
          <form action="{% url 'room:company-delete' company.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="submit" value="Delete">
          </form>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
  </table>

  {% if user.is_authenticated %}
  <br>
  <div class="pad container-fluid">
    <input style="margin-left:10%;" onclick="location.href='{% url 'room:rooms_delete' %}'" type="button" class="btn btn-danger" value="Delete Rooms">
    <input onclick="location.href='{% url 'room:export_company' %}'" type="button" class="btn btn-info" value="Export Companies">
    <input onclick="location.href='{% url 'room:export_data' %}'" type="button" class="btn btn-info" value="Export">
  </div>
  {% endif %}
{% endblock %}
