{% extends 'base.html' %}
{% block title %}
  Company Room List
{% endblock %}

{% load static %}

{% block body %}
  <form id="newuserform">
    {% csrf_token %}
    <br> <br> <br><br>
    <div class="container" id = "man">
      <div id="A-001" class = "lol">A-001</div>
      <div id="A-002" class = "lol">A-002</div>
      <div id="A-003" class = "lol">A-003</div>
      <div id="A-004" class = "lol">A-004</div>
      <div id="A-005" class = "lol">A-005</div>
      <div id="A-006" class = "lol">A-006</div>
      <div id="A-010" class = "lol">A-010</div>
      <div id="A-011" class = "lol">A-011</div>
      <div id="A-008" class = "lol">A-008</div>
      <div id="A-009" class = "lol">A-009</div>
      <div id="A-012" class = "lol">A-012</div>
      <div id="B-002" class = "lol">B-002</div>
      <div id="B-003" class = "lol">B-003</div>
      <div id="B-004" class = "lol">B-004</div>
      <div id="B-001" class = "lol">B-001</div>
      <div id="B-005" class = "lol">B-005</div>
      <div id="A-007" class = "lol">A-007</div>
      <div id="B-006" class = "lol">B-006</div>
      <div id="B-007" class = "lol">B-007</div>
      <div id="B-008" class = "lol">B-008</div>
      <div id="B-009" class = "lol">B-009</div>
      <div id="B-010" class = "lol">B-010</div>
      <div id="B-011" class = "lol">B-011</div>
      <div id="B-012" class = "lol">B-012</div>
      <div id="C-001" class = "lol">C-001</div>
      <div id="C-002" class = "lol">C-002</div>
      <div id="C-003" class = "lol">C-003</div>
      <div id="C-004" class = "lol">C-004</div>
      <div id="C-005" class = "lol">C-005</div>
      <div id="C-006" class = "lol">C-006</div>
      <div id="C-007" class = "lol">C-007</div>
      <div id="C-008" class = "lol">C-008</div>
      <div id="C-009" class = "lol">C-009</div>
      <div id="C-010" class = "lol">C-010</div>
      <div id="C-011" class = "lol">C-011</div>
      <div id="C-012" class = "lol">C-012</div>
    </div>
    <div id="div" hidden></div>
    <br>
    <br>
    <br>
  </form>
  <style>
    body
    {
      background-color: linen;
      -webkit-user-select:none;
      -webkit-touch-callout:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
    }
    .lol
    {
        width: 100px;
        border: 2px solid grey;
        padding: 10px 10px 10px 10px;
        margin: 10px 10px 10px 10px;
        float : left;
        background-color : white;
        text-align : center;
    }
    h1
    {
      color: maroon;
      margin-left: 40px;
    }
    .active
    {
      width: 100px;
      border: 2px solid green;
      padding: 10px 10px 10px 10px;
      margin: 10px 10px 10px 10px;
      float :left;
      background-color : pink;
      text-align:center;
    }
    #div
    {
      border: 1px dotted #000;
      position: absolute;
    }
    #man
    {
      border:1px dotted red;
    }
    .occupied {
      width: 100px;
      border: 2px solid green;
      padding: 10px 10px 10px 10px;
      margin: 10px 10px 10px 10px;
      float :left;
      background-color : lightblue;
      text-align:center;
    }
    #hi {
      float: right;
    }
  </style>

  <div id = 'room-numbers'>{% for room in roomlist %}{{room.room_no}} {{room.company.name}} {% endfor %}</div>

  <script type="text/javascript">
    var r = document.getElementById("room-numbers").innerHTML;
    document.getElementById("room-numbers").style.display = "none";
    var lr = r.split(" ");
    var t = document.querySelectorAll("lol");

    for(var j=0;j<lr.length;j=j+2){
       var p = lr[j];
       var e = lr[j+1];
       var q = document.getElementById(p);
       q.classList.toggle("occupied")
       q.classList.add("here");
       document.getElementById(p).innerHTML = e + " " + p
    }
  </script>
{% endblock %}
