{% extends 'base.html' %}
{% block title %}
  Company Details
{% endblock %}

{% block body %}
	<div class="container-fluid songs-container">
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<a href="{% url 'room:detail' company.id %}"><img src="{{ company.logo.url }}" class="img-responsive"></a>
						<h1>{{ company.name }}<small>{{ company.poc }}</small></h1>
						<h2>{{ company.industry }}</h2>
					</div>
				</div>
			</div>
    </div>
  </div>
  
  <button type="submit" class="btn btn-success"><a href="{% url 'room:add_room' pk=company.pk %}" style="color:black"">Add Room</a></button>
  <button type="submit" class="btn btn-success"><a href="{% url 'room:roomadd' pk=company.pk %}" style="color:black"">Room Add</a></button>

  <div class="jumbotron">
    <h2><a href="{% url 'room:image1' pk=company.pk %}">Brahmaputra</a></h2>
    <ul>
      {% for room in company.rooms.all %}
        {% if room.hostel.name == "Brahmaputra" %}
        <h3><li>{{ room.room_no }}</li></h3>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="jumbotron">
    <h2><a href="{% url 'room:image2' pk=company.pk %}">Lohit</a></h2>
    <ul>
      {% for room in company.rooms.all %}
        {% if room.hostel.name == "Lohit" %}
        <h3><li>{{ room.room_no }}</li></h3>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

{% endblock %}
