{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
  Company Details
{% endblock %}

{% block body %}
	<div class="container-fluid songs-container">
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="place">Company: {{ company.name }}</h2>
						<h2>Industry: {{ company.industry }}</h2>
            <h3><small>POC: {{ company.poc }}</small></h3>
            {% if user.is_authenticated %}
            <input onclick = "location.href='{% url 'room:company-update' pk=company.pk %}'" type="button" class="btn btn-warning" value="Update">
            {% endif %}
					</div>
				</div>
			</div>
    </div>
  </div>

  <div class="jumbotron">
    <h2>Brahmaputra</h2>
    <input onclick="location.href='{% url 'room:roomlist' pk=company.pk %}'" type="button" class="btn btn-success" value="Company Room List">
    {% if user.is_authenticated %}
    <input onclick="location.href='{% url 'room:roomadd' pk=company.pk %}'" type="button" class="btn btn-primary" value="Add Room">
    <input onclick="location.href='{% url 'room:room_remove' pk=company.pk %}'" type="button" class="btn btn-danger" value="Delete Room">
    {% endif %}
  </div>

  <div class="jumbotron">
    <h2>Lohit</h2>
    <input onclick="location.href='{% url 'room:roomlist1' pk=company.pk %}'" type="button" class="btn btn-success" value="Company Room List">
    {% if user.is_authenticated %}
    <input onclick="location.href='{% url 'room:roomadd1' pk=company.pk %}'" type="button" class="btn btn-primary" value="Add Room">
    <input onclick="location.href='{% url 'room:room_remove1' pk=company.pk %}'" type="button" class="btn btn-danger" value="Delete Room">
    {% endif %}

  </div>

{% endblock %}
