{% extends 'base.html' %}
{% block title %}
  {% if not form.instance.pk %}
    Create Company
  {% else %}
    Update Company
  {% endif %}
{% endblock %}

{% block body %}
  <form method="post">
    <br> <br> <br>
    {% csrf_token %}
    <div class="container jumbotron">
      {{ form.as_p }}
      {% if not form.instance.pk %}
        <input type="submit" class="btn btn-success btn-lg" value="Create">
      {% else %}
        <input type="submit" class="btn btn-success btn-lg" value="Update">
      {% endif %}
    </div>
  </form>
{% endblock %}
