{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} CCD Room Allotment {% endblock %}

{% block navigation %}
<div class="collapse navbar-collapse" id="topNavBar">

  <form class="navbar-form navbar-left" role="search" method="get" action=".">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" class="form-control" name="q" id="country" placeholder="Enter Company Name">
      <div id="country-list"></div>
    </div>
    <button type="submit" value="{{query|escape}}" class="btn btn-outline-primary">Search</button>
  </form>
{% endblock %}

{% block body %}
<!-- <script>
  $(document).ready(function(){
    $('#country').keyup(function(){
      var query = $(this).val();
      if(query!=''){
        $.ajax({
          type:'POST',
          url:"{% url 'room:index1' %}",
          data:{
            query:query
          },
          success:function(data){
               $('#country-list').fadeIn();
               $('#country-list').html(data);
          }
        })
      }
      else {
        $('#country-list').fadeOut();
        $('#country-list').html("");
      }
    });
    $(document).on('click','li',function(){
      $('#country').val($(this).text());
      $('#country-list').fadeOut();
    })
  });
</script> -->
  <h1 class="list"><strong>Company List</strong></h1>
  <table border="1">
    <thead>
      <tr>
        <th>Company Name</th>
        {% if user.is_authenticated %}
        <th>Remove</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for company in data %}
      <tr>
        <td><a href="{% url 'room:detail' company.id %}">{{ company.name }}</a></td>
        {% if user.is_authenticated %}
        <td>
          <form action="{% url 'room:company-delete' company.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ company.id }}" />
            <input type="submit" class="glyphicon glyphicon-trash">
          </form>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
  </table>
{% endblock %}
