{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
  Brahmaputra Map
{% endblock %}

{% block body %}
  <h2>Hostel: {{hostel}}</h2>
  <h2>Company: {{company}}</h2>
  <table>
    <tr>
      {% if user.is_authenticated %}
      <td><div class="lol"><a href="{% url 'room:room_' pk=primary %}">S-1</a></div></td>
      {% else %}
      <td><div class="lol">S-1</div></td>
      {% endif %}
      <td><div class="lol">S-2</div></td>
      <td><div class="lol">S-3</div></td>
    </tr>
    <tr>
      <td><div class="lol">S-4</div></td>
      <td><div class="lol">S-5</div></td>
      <td><div class="lol">S-6</div></td>
    </tr>
    <tr>
      <td><div class="lol">S-7</div></td>
      <td><div class="lol">S-8</div></td>
      <td><div class="lol">S-9</div></td>
    </tr>
  </table>
  <button id = "hi">Submit</button>
{% endblock %}
