.m {
  margin : 20px;
  color: red;
}
.lol {
  width: 30px;
  border: 5px solid green;
  padding: 50px;
  margin: 20px;
}
h2 {
  color: maroon;
  margin-left: 5px;
}
.active {
  width: 30px;
  border: 5px solid green;
  padding: 50px;
  margin: 20px;
  float : left;
  background-color : pink;
}
.list {
  margin-bottom: 20px;
  text-align: center;
  color: rgb(100,90,80);
}
.base {
  margin-left: 10px;
  margin-right: 10px;
}
