{% extends 'base.html' %}
{% block title %} CCD Room Allotment {% endblock %}
{% block body %}
  <h1><strong>Company List</strong></h1>
  {% for company in company_list %}
  <div class="col-sm-4 col-lg-2">
      <div class="thumbnail">
        <a href="{% url 'room:detail' company.id %}">
          <img src="{{ company.logo.url }}" class="img-responsive">
        </a>
        <div class="caption">
          <h2>{{ company.name }}</h2>
          <h4>{{ company.poc }}</h4>
          <a href="{% url 'room:detail' company.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
